@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');

:root { 
    --main-color: green;
    font-family: 'Jost', sans-serif;
    scroll-behavior: smooth;
}

body {
    max-width: 980px;
    margin: auto;
}

header nav .logo {
    font-family: 'Jost', sans-serif;
    font-size: 5rem;
    font-weight:bold;
    text-align: center;
    text-decoration: none;
    color: var(--mail-color);color: green;

}

header nav .menu {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    flex-wrap: wrap;
    padding: 3px;
    }

@media(min-width: 610px)

p:hover {
    text-decoration: underline;
}    

#contacts {
    color: red;
}

h2 {
  var(--mail-color);color: 
}

h3 {
    color: brown;
}


