@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');

:root { 
    --main-color: green;
    --accent-color: white; 
    font-family: 'Jost', sans-serif;
    scroll-behavior: smooth;
}


body {
    max-width: 980px;
    margin: auto;
}
.subheader {
    background-image:url(../img/leaf.jpg);
    background-size: cover;
}

header nav .logo {
    font-family: 'Jost', sans-serif;
    font-size: 5rem;
    font-weight:bold;
    text-align: center;
    text-decoration: none;
    color: green;
    
    }

header nav .menu {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    flex-wrap: wrap;
    padding: 3px;
    
    }

@media(min-width: 610px){
    header nav 
    { display: flex;}
}



p:hover {
    text-decoration: underline;
}    

#contacts {
    color: red;
}

h2 {
  var(--main-color);
}

h3 {
    color: brown;
} 
